{{> page-header 
  icon="bi bi-person-circle" 
  title="Criar Nova Conta" 
  actionIcon=(showArrowIcon '/users/index')
}}

{{#if error}}
  <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
{{/if}}

<form action='/users/create' method='post'>
  {{> form-field 
    type="text"
    name="name"
    id="name"
    label="Nome"
    placeholder="Seu nome"
  }}

  {{#if errors.name}}
  <div class="alert alert-warning" role="alert">
    {{errors.name}}
  </div>
  {{/if}}

  {{> form-field 
    type="text"
    name="email"
    id="email"
    label="Email"
    placeholder="exemplo@email.com"
  }}

  {{#if errors.email}}
  <div class="alert alert-warning" role="alert">
    {{errors.email}}
  </div>
  {{/if}}

  {{> form-field 
    type="password"
    name="password"
    id="password"
    label="Senha"
  }}

  {{#if errors.password}}

    <div class="alert alert-warning" role="alert">
      {{errors.password}}
    </div>

  {{/if}}

  {{> form-field 
    type="password"
    name="confirmPassword"
    id="confirmPassword"
    label="Confirmar Senha"
  }}

  {{#if errors.confirmPassword}}
    <div class="alert alert-warning" role="alert">
      {{errors.confirmPassword}}
    </div>
  {{/if}}

  {{> form-field 
    type="select"
    name="majorId"
    id="majorId"
    label="Curso"
    placeholder="Selecione um curso"
    options=majors
  }}

  {{#if errors.majorId}}
    <div class="alert alert-warning" role="alert">
      {{errors.majorId}}
    </div>
  {{/if}}

  <div class="d-flex flex-column">
    <a href="/majors/create" class="mb-3 link">
      Seu curso não está listado? Clique aqui para criar seu curso.
    </a>
  </div>
  
  <button type='submit' class='btn btn-primary button'>Criar Conta</button>

</form>